/* Default Light Theme */
:root {
  --bg-image: url(/public//images/brightlight.webp);
  --bg-color: #ffffff;
  --text-color: #333333;
  --items-bg: #dddddd73;
  --primary-color: #3498db;
  --secondary-color: #f39c12;
  --progress-bg: #dddddd;
  --progress-html: #2ecc71;
  --progress-css: #f1c40f;
  --progress-js: #e74c3c;
}

/* Soft Light Theme */
.light-soft {
  --bg-image: url(/public//images/softlight.webp);
  --bg-color: #f0f0f5;
  --text-color: #444444;
  --items-bg: #e8e8e8;
  --primary-color: #5dade2;
  --secondary-color: #ffb07c;
  --progress-bg: #e8e8e8;
  --progress-html: #a3e4d7;
  --progress-css: #f9e79f;
  --progress-js: #f1948a;
}

/* Bright Light Theme */
.light-bright {
  --bg-image: url(/public//images/brightlight.webp);
  --bg-color: #fffbea;
  --text-color: #1c1c1c;
  --items-bg: #f7f7f7d8;
  --primary-color: #007bff;
  --secondary-color: #ff6f61;
  --progress-bg: #f7f7f7;
  --progress-html: #28a745;
  --progress-css: #ffc107;
  --progress-js: #dc3545;
}

/* Default Dark Theme */
.dark-mode {
  --bg-image: url(/public//images/darkmode.webp);
  --bg-color: #181818;
  --text-color: #f0f0f0;
  --items-bg: #44444471;
  --primary-color: #1abc9c;
  --secondary-color: #e67e22;
  --progress-bg: #444444;
  --progress-html: #27ae60;
  --progress-css: #f39c12;
  --progress-js: #c0392b;
}

/* Deep Dark Theme */
.dark-deep { 
  --bg-image: url(/public//images/darkmode.webp);
  --bg-color: #0e0e0e;
  --text-color: #d1d1d1;
  --items-bg: #2c2c2c18;
  --primary-color: #34495e;
  --secondary-color: #a93226;
  --progress-bg: #2c2c2cbb;
  --progress-html: #145a32;
  --progress-css: #b7950b;
  --progress-js: #7b241c;
}

/* Neon Dark Theme */
.dark-neon {
  --bg-image: url(/public//images/neon.webp);
  --bg-color: #1a1a2e;
  --text-color: #e5e5e5;
  --items-bg: #22283171;
  --primary-color: #00d4ff;
  --secondary-color: #ff0066;
  --progress-bg: #222831;
  --progress-html: #00ff7f;
  --progress-css: #ffdf00;
  --progress-js: #ff073a;
}
/* box shadow theme*/
:root{
  --shadow-default: 2px 0px 2px rgba(0, 0, 0, 0.788);
  --shadow-primary: 0px 0px 1px black;
  --shadow-secondary: 1px 0px 1px black;
  --shadow-half: 0px 1px 2px black;
  --shadow-full: 1px 1px 2px black;
}
html {
  scroll-behavior: smooth;
}
/* Initial state*/
.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity .6s ease, transform .6s ease;
}
/* Animated state*/
.animate-on-scroll{
  opacity: 1;
  transform: translateY(0);
}
.App{
  background: var(--bg-color);
  color: var(--text-color);
  position: relative;
  align-items: center;
  justify-content: center;

}
.App-darkmode{
  position: absolute;
  top: 1.6em;
  right: 2em;
  z-index: 9999;
  cursor: pointer;
}
.App-darkmode .theme{
  position: fixed;
  top: -.5em;
  right: 1em;
  display: flex;
  animation: slide_down 1s ease forwards;
  transition: all .5s ease-out;
  padding: .5em;
  border-radius: 5px;
}
.theme p{
  padding: .5em;
  border-radius: 5px;
  position: relative;
}
.theme p::after{
  content: attr(data-caption);
  position: absolute;
  bottom: 25%;
  right: 60%;
  transform: translateX(-50%);
  color: var(--text-color);
  opacity: 0;
  font-size: 1em;
  white-space: nowrap;
  visibility: visible;
}
.theme p:hover::after{
  opacity: 1;
  visibility: visible;
}
.App-darkmode #title{
  position: fixed;
  right: 0em;
  top: .5em;
}
.loading-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f5f5f5;
}
.spinner{
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
@keyframes paralax {
  to{
    transform: translateY(calc(var(--paralax-speed) * 200px));
  }
}
.loading-container p{
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--bg-color);
  color: var(--text-color);
  transition: all .5s;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hide, .sun.hide{
  display: none;
  transition: all .5s;
  animation: slide_down 1s ease forwards;
}
.navbar{
  display: flex;
  position: sticky;
  top: 0;
  background: var(--progress-bg);
  animation: slide_down 1.5s ease forwards;
  z-index: 111;
  color: var(--dark);
  box-shadow: var(--shadow-default);
}
.active{
  background: #2f2c2cc3;
  color: #fff;
  box-shadow: none;
}
.navbar h1{
  background: url(/src//static//img//team/team_3.png);
  background-size: 200%;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  padding-left: 4em;
}
.navbar h1 a{
  padding: .2em;
  color: transparent;
  text-decoration: none;
}
.navbar h1:hover{
  animation: text_effect 5s ease forwards;
  transition: all .5s;
}
.navbar .links{
  z-index: 1111111111;
    margin-left: auto;
    margin-right: 30em;
    transition: all .1s ease-in-out;
}
.navbar .links ul{
  display: flex;
}
.navbar .links ul li{
  padding: .5em;
  list-style: none;
}
.navbar .links ul li:hover{
  background: var(--progress-js);
  background-size: 200%;
  animation: text_effect 5s ease-in-out forwards;
  transition: all .5s;
  border-radius: 5px;
}
.navbar .links ul li a{
  text-decoration: none;
  color: var(--light);
}
.navbar .links ul li a:hover{
  color: var(--blue);
}
.navbar-toggler{
  display: none;
  transition: all 5s;
  color: var(--light);
}
.test{
  animation: test linear;
}
@keyframes speed {
  to{
    transform: translateY(-40px);
  }
}
@keyframes text_effect{
  0%{
    background-size: 0%;
  }
  100%{
    background-size: 200%;
  }
}
@keyframes slide_down {
  0%{
    opacity: 0;
    transform: translateY(-4rem);
  }
  100%{
    opacity: 1;
    transform: 0;
  }
}
@keyframes slide_up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
@media (max-width:800px) {
  .App-darkmode{
    position: absolute;
    top: .6em;
    right: 4em;
    z-index: 9999;
  }
 
  .App-darkmode .theme{
    top: -0.4em;
    right: 3em;
  }
  .navbar {
    padding-left: .5em;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 1;
    transition: all 1.7s cubic-bezier(0.25, 0.8, 0.25, 1); /* Smooth cubic-bezier timing */
  }
  .navbar h1{
  padding-left: 1em;
  }
  .navbar .links {
    line-height: 2.5em;
    position: absolute;
    top: 4em;
    right: 0;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    color: var(--text-color);
    background: var(--progress-bg);
    transition: all 1s ease-in-out;
    animation: slide_down 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) forwards; /* Smooth animation */
  }
  .navbar .links ul{
    display: block;
    transition: all 2s ease-in-out;
  }
  .navbar .links ul li{
    margin-right: 2em;
  }
  .is_hidden{
    display: none;
    
    transition: all .5s ease-in;
  }
  .navbar-toggler{
    position: absolute;
    right: 1.3em;
    display: flex;
    font-size: 22px;
    cursor:pointer
  }
  .close-menu{
    color: var(--red);
  }
}

/** home styling **/
.home{
  position: relative;
  transition: all .5s;
  perspective: -10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.home-wrapper{
  padding: 9.8em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
  animation: slide_down 2s ease forwards;
  overflow: hidden; 
  background-size: cover;
  background-position: fixed;
  column-gap: 8em;
  transition: all .5s ease-in-out;
  transform: translateZ(20px) scale(1);
  
}
.home-wrapper .profile-info{
  margin-right: 8em;
  transform: translateZ(-10px);
}
.home-wrapper .profile-info h1 span{
  font-size: 44px;
  color:#FFffff;
  /* In your CSS file */
  background-image: url(/src/static/img/bg_3.jpg);
  background-size: cover;
  background-position: center;
  background-clip: text;
  --paralax-speed: 200;
  transform: translateZ(-10px);
  animation: text_effect 2s ease-in forwards;
}
.home-wrapper .profile-info h1 span:hover{
  animation: text_effect 8s ease-in-out forwards infinite;
  --paralax-speed: -40;
}
.home-wrapper h1{
  color: #ffffff;
  position: relative;
  margin-left: 0;
  z-index: 10;
  cursor: pointer;
  line-height: 1em;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  align-self: flex-start;
  isolation: isolate;
  text-shadow: 2px solid #000000a9;
  }
.home-wrapper h1::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0em;
  width: 50%;
  height: 100%;
  background: #007cf0;
  mix-blend-mode: multiply;
  color: transparent;
  transform: rotate(-20deg);
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 1;
}
.text-shadow {
  text-shadow: 5px 5px 15px #181717;
}
.home-wrapper h1:hover{
  animation: text_effect 2s ease-in forwards;
}
.home p{
  color: #fff;
  align-self: self-start;
  font-weight: 650;
}
.home img{
  width: 15em;
  height: 15em;
  border-radius: 50%;
  position: relative;
  background: #007cf0;
  cursor: pointer;
  z-index: 999;
  --paralax-speed: 30;
  box-shadow: var(--shadow-default);
}
.home img:hover{
  scale: 1.1;
  transition: all .5s ease-in-out;
}
.home .img{
  position: relative;
  width: 15em;
  height: 15em;
  margin: auto;
  margin-top: 0em;
  position: relative;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  display: flex;
}
.home .img::before{
  content: "";
  position: absolute;
  top: -2.5em;
  left: -2.5em;
  width: 20em;
  height: 20em;
  border: 1px solid var(--text-color);
  background: linear-gradient(to left,#f1cf0f,#ff7300,#00f7ff);
  background-size: 200%;
  border-radius: 50%;
  animation: bg-rotate 5s infinite;
  filter: blur(4px);
}
.contact-button .btn{
  padding: .5em;
  font-size: 15px;
  background: #05ecfde0;
  border: 1px solid #05ecfd;
  border-radius: 20px;
  color: #ffffff;
  margin-top: 1em;
  width: 25vh;
  cursor: pointer;
  z-index: 999;
}
.contact-button .btn:hover{
  font-weight: 500;
  background:#00c0f09f;
  transition: all .5s ease-in-out;
}
.contact-button .btn a{
  color: #fff;
  text-decoration: none;
}
@keyframes bg-rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@media (max-width: 1000px) {
  .home-wrapper::before{
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 50%;
    clip-path: polygon(100% at 20% 10%);
  }
  .home-wrapper{
    display: block;
    text-align: center;
    padding: 3.8em;
  }
  .home-wrapper .profile-info{
    margin-right: 0em;
  }
  .home h1{
    margin-left: 0;
    z-index: 10;
  }
  .home .profile-info p{
    margin-left: 0;
    z-index: 10;
  }
  .home img{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 8em;
    height: 8em;
    margin: 2em auto;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    display: flex;
  }
  .home img:hover{
    scale: 1.1;
    transition: all .5s ease-in-out;
  }
  .home .img{
    position: relative;
    border-radius: 20px;
    transition: all .5s ease-in-out;
  }
  .home .img:before{
    content: "";
    position: absolute;
    top: 0em;
    left: 1.5em;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: 1px solid var(--text-color);
  }
  .contact-button .btn{
    padding: .5em;
    font-size: 15px;
    background: #007cf0;
    border: 1px solid #007cf0;
    border-radius: 25px;
    margin-left: 0;
    margin-top: 1em;
    width: 25vh;
    color: #fafafa;
    cursor: pointer;
    z-index: 999;
  }
  .contact-button .btn:hover{
    color: #ffffff91;
    background: #007cf08c;
  }
}
.about{
  background: none;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align:start;
  animation: slide_down 1s ease-in-out forwards;
  color: var(--text-color);
}
.about .about-hero{
  background: url(../src//static//img/bgImage7.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3em;
  margin: 0;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-shadow: 2px 2px 8px #000000;
}
.about .about-hero p{
  margin-top: -2em;
  font-size: 18px;
  font-weight: 600;
}
.about-hero p a{
  text-decoration: none;
  color: rgb(206, 26, 110);
}
.about-hero p a:hover{
  color: #007bff;
}
.about .container{
  padding-left: 6em;
  padding-right: 4em;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  column-gap: 2em;
  padding: 2em;
  line-height: 2em;
}
.about .container .about-img{
  overflow: hidden;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about .container .img{
  width: 22em;
  height: 22em;
  border-radius: 20px;
  transition: all .5s ease-in-out;
}
.about .container .img:hover{
  scale: 1.2;
}
.about .container h1{
  position: relative;
  opacity: .8;
  margin-top: .5em;
}
.about .discription{
  align-self: center;
  width: 60%;
  line-height: 1.7em;
  position: relative;
  column-gap: 1em;
}
.about .discription p{
  color: var(--text-color);
  font-weight: 400;
  text-align: justify;
  animation: slide_down 1.5s ease-in-out forwards;
}
.discription button{
  width: 6em;
  padding: .5em;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: var(--text-color);
  background: var(--background-gradient);
  background-size: 400%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.discription button::before{
  content: "";
  position: absolute;
  top: 0;
  left: -1em;
  width: 30%;
  height: 100%;
  background-size: 400%;
  transform: translateX(-16em);
  background: linear-gradient(to right, #007cf0, #00d4ff);
}
.discription button:hover{
  background: rgba(255, 99, 71, 0.589);
 
}
.discription .discription-links{
  column-gap: 2em;
}
.discription .discription-links .btn{
  color: white;
}
.modal{
  background: var(--progress-bg);
  z-index: 999;
  position: absolute;
  line-height: 1.9em;
  border-radius: 15px;
  padding: 1.5em;
  transition: all .5s ease-in-out;
}
.modal #close{
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  transition: all .5s;
  color: red;
}
#resume:hover{
  background: rgba(16, 119, 16, 0.678);
}
.modal #contact{
  position: absolute;
  bottom: -3em;
  left: 20em;
}
#resume{
  border:1px solid rgb(16, 119, 16);
  width: 15em;
  margin-top: 1.2em;
  margin-bottom: 1em;
}
@keyframes g-effect {
  0%{
    transform:0;
  }
  100%{
    transform: translateX(70em);
  }
}
@media (max-width: 800px) {
  .about{
  margin: 0;
  }
  .about .container{
    display: block;
    padding-left: 0em;
    padding-right: 0em;
  }
  .about .container .img{
    width: 10em;
    height: 10em;
    margin: auto;
    border-radius: 10px;
  }
  .about .discription{
    margin-top: 3em;
    width: 90%;
    padding-left: 1em;
  }
  .modal{
    background: var(--progress-bg);
    z-index: 999;
    position: absolute;
    line-height: 1.8em;
    margin-top: -1em;
  }
  .modal::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(7px);
    z-index: -1;
  }
  .modal #contact{
    bottom: 0em;
    left: 8em;
  }
  .modal #close{
    position: absolute;
    top: -1em;
    right: 0em;
    cursor: pointer;
    transition: all .5s;
  }
}
/* portifolio styling */
.skills .section{
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .section1,.section2{
  margin: auto;
  width: 25em;
  background: var(--items-bg);
}
.section1,.section2{
  padding: 2em;
  border-radius: 20px;
  position: relative;
}

.container{
  margin: 2em 3em;
}
.skills{
  padding: 0em;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  width: 85%;
  margin: auto;
  flex-wrap: wrap;
}
.skills h1{
  padding: 1em;
}
.section3{
  position: relative;
  margin:1em auto;
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
  column-gap: .5em;
  row-gap: 2em;
  color: var(--text-color);
}
.section3 .progress-circle{
  width: 15em;
  height: 15em;
  margin: auto;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 6px 6px 8px -1px #0000005e,
             -6px -6px 8px -1px hsla(0, 0%, 0%, 0.384),
             6px 0px 8px -1px #00000056,
              0px -6px 8px -1px #00000060;

  
}
.section3 .progress-circle::before{
  content: "";
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  width: 80%;
  height: 80%;
  background: var(--bg-color);
  border-radius: 50%;
  box-shadow:inset 6px 6px 8px -1px #00000079,
             inset -6px -6px 8px -1px #00000081,
            inset 6px 0px 8px -1px #00000079,
            inset  0px -6px 8px -1px #00000067;
}
.section3 .progress-circle p{
  z-index: 1;
  font-size: 38px;
  font-weight: 900;
  align-self: center;
  color: var(--text-color);
}
.section3 .progress-circle p span{
  font-size: 18px;
}
.section3 .progress-circle svg{
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100%;
}
.section3 .progress-circle svg circle{
  stroke: conic-gradient(#00ff7f,#e67e22,#ff073a);
}
@keyframes circle_progress {
  
}
@media (max-width:800px) {
  .skills{
    border-radius: 15px;
    width: 85%;
    margin: auto;
    padding: 1em;
    place-content: center;
  }
  .container{
    margin: 1em 0em;
  }
  .skills .section{
    display: block;
  }
  .section .section1,.section2{
    margin:1em auto;
    width: 20em;
    background: var(--progress-bg);
  }
  .section3 .progress-circle p{
    z-index: 0;
  }
}
/* services styling */
.services{
  animation: slide_down 1s ease-in-out forwards;
}
.services h1{
  margin-top: 4em;
}
.service .service-hero{
  background: url(../src//static//img/bgImage5.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3em;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  text-shadow: 2px 2px 8px #000000;
  animation: slide_down 1s ease-in-out forwards;
}
.service .service-hero p{
  margin-top: -2em;
  font-size: 18px;
  font-weight: 600;
}
.service-hero p a{
  text-decoration: none;
  color: rgb(206, 26, 110);
}
.service-hero p a:hover{
  color: #007bff;
}
.services .container{
  padding-top: 2em;
  display: flex;
  flex-wrap: wrap;
  transition: all 1s;
  padding: 2em;
}
.service1,.service2,.service3{
  margin: auto;
  padding: 3em;
  border-radius: 20px;
  width: 15em;
  height: 12em;
  box-shadow: var(--shadow-primary);
  transition: all 1s ease-in-out;
  animation: scale_up 2s ease-in-out forwards;
  position: relative;
}
.service1::after,.service2::after,.service3::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  color: var(--text-color);
  opacity: .8;
  z-index: -1;
  visibility: hidden;
  border-radius: 20px;
}
.service1:hover::after,
.service2:hover::after,
.service3:hover::after{
  visibility: visible;
  
}
.service1{
  background: url(/src/static/img/uxui.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.service2{
  background: url(/src/static/img/web.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.service3{
  background: url(/src/static/img/consultin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.service1 h2,.service2 h2, .service3 h2{
  transition: all .5s ease-in-out;
  visibility: hidden;
}
.hidden-content{
  transition: all 1s ease-in-out;
  z-index: 999;
}
.hidden-content p{
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  animation: scale_up 1s ease-in-out forwards;
}
.hidden-content h2{
  animation: scale_down 1s ease-in-out forwards;
  visibility: visible;
}
@keyframes scale_up {
  0%{
    opacity: 0;
    transform: translateY(1em);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scale_down{
  0%{
    opacity: 0;
    transform: translateY(-1em);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}
@media (max-width:900px) {
  .services .container{
    flex-wrap: wrap;
    display: block;
    padding: 1em;
  }
  .service1,.service2,.service3{
    margin:2em auto;    
    padding: 1em;
    border-radius: 20px;
    max-width: 18em;
    row-gap:1em;
    opacity: .8;
    transition: all 1s ease-in-out;
    flex-grow: 1;
  }
}
/* faq styling*/
.Faq{
  animation: slide_down 1s ease-in-out forwards;
}
.contact{
  margin: 2em 3em;
  transition: all .5s ease-in-out;
}
.faq-hero{
  background: url(../src//static//img/bgImage6.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3em;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #ffff;
  text-shadow: 2px 2px 8px #000000;
}
.faq-hero p{
  margin-top: -2em;
  font-size: 18px;
  font-weight: 600;
}
.faq-hero p span{
  text-decoration: none;
  color: rgb(206, 26, 110);
}
.faq-hero p a:hover{
  color: #007bff;
}
.contact .container{
  transition: all .5s ease-in-out;
  overflow: hidden;
  color: var(--text-color);
}
.cardSwitcher button{
  justify-content: space-between;
  padding: .5em;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2em auto;
  color: var(--text-color);
}
.card-group{
  width: 100%;
  display: flex;
  column-gap: 2.5em;
  transition: all .5s ease-in-out;
  flex-wrap: wrap;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card{
  position: relative;
  width: 18em;
  height: 10em;
  margin: auto;
  margin-top: 1em;
  padding: 1.5em;
  transition: max-height .5s ease-in-out;
  background: url(../build/images/darkmode.webp);
  background-size: 80000%;
  background-blend-mode:difference;
  text-align: center;
  border-radius: 10px;
  color: var(--text-color);
  overflow: hidden;
  transition: all .5s ease-in-out;
}
.card h4, .card h2, .card p{
  z-index: 999;
  color: var(--text-color);
}
.card h4{
  align-self: start;
  font-size: 13px;
  color: rgba(21, 128, 0, 0.74);
}
.card .discription{
  max-height: 1em;
}
.card::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  filter: blur(18px);
  z-index: -1;
  border: 1px solid #000000;
}
.form-group{
  padding: 1em;
  width: 60%;
  margin: auto;
  row-gap: 3em;
  column-gap: 3em;
  color: var(--text-color);
}
.form-group .inputs{
  color: var(--text-color);
  padding-top: 2em;
  border-radius: 15px;
  background:transparent;
  box-shadow: var(--shadow-primary);
}
.form-group .text-input,
.form-group .email-input,
.form-group .title-input,
.form-group button{
  margin: auto;
  font-size: 18px;
  background: none;
}
.form-group .title-input #form-title{
  width: 80%;
  height: 3em;
  padding: .5em;
  margin-bottom: 1.5em;
  border-radius: 5px;
  color: var(--text-color);
  outline: none;
  border: 1px solid var(--secondary-color);
  background: none;
}
.form-group .text-input #text{
  width: 80%;
  height: 10em;
  padding: .5em;
  overflow: hidden;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  outline: none;
  background: transparent;
  color: var(--text-color);
}
.form-group .email-input #email{
  width: 80%;
  height: 2em;
  border: 1px solid var(--secondary-color);
  background: var(--items-bg);
  margin-top: 1.5em;
  border-radius: 6px;
  outline: none;
  padding: .5em;
  color: #fdfdfd;
}
.form-group button{
  border-radius: 20px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 80%;
  padding: .6em;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background: var(--progress-js);
  color: var(--text-color);
}
.form-group button:hover{
  background: var(--progress-js);
  opacity: .7;
  color: thistle;
}
@media (max-width:800px) {
  .contact{
    margin-top: 1em;
    margin-left: 1em;
  }
  .contact .container{
    display:block;
  }
  .contact .faq{
    margin:1em 1em;
    border-radius: 20px;
    width: 100%;
    transition: all .5s ease-in-out;
  }
  .form-group,.contact .address{
    width: 100%;
    border-radius: 10px;
  }
  .address{
    margin-top: 1em;
  }
  .form-group{
    border-radius: 15px;
    padding: 1em;
    width: 95%;
    margin: auto;
    row-gap: 1em;
    column-gap: 3em;
  }
  .form-group .text-input textarea,
  .form-group .title-input #form-title,
  .form-group .email-input #email,
  .form-group button{
    width: 80%;
  }
}
/* contact styling*/
.contact-page{
  text-align: center;
  align-items: center;
  justify-content: center;
  animation: slide_down 1s ease-in-out forwards;
}
.contact-page .contact-link .col.col-2{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2em;
}
.contact-hero{
  background: url(../src//static//img/bgImage5.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3em;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #ffff;
  text-shadow: 2px 2px 8px #000000;
  animation: slide_down 1s ease-in-out forwards;
}
.contact-hero p{
  margin-top: -2em;
  font-size: 18px;
  font-weight: 600;
}
.contact-hero p span{
  text-decoration: none;
  color: rgb(206, 26, 110);
}
.contact-hero p a:hover{
  color: #007bff;
}
/* Reaction styling*/
.reaction{
  background-color: #043461d3;
  max-width: 15em;
  min-height: 4em;
  position: sticky;
  bottom:0em;
  right: .5em;
  border-radius: 6px;
  padding: .2em;
  color: #fff;
  margin: auto;
}
.reaction .container{
  display: flex;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
  margin-top: -1.6em;
}
.reaction p span{
  font-size: 11px;
}
.reaction .container p{
  font-size: 18px;
  cursor: pointer;
}
.reaction .container #reaction-close{
  position: absolute;
  top: 0em;
  right: 0em;
  background: none;
  border: none;
  cursor: pointer;
}

.font.icon{
  color: rgb(12, 198, 240);
}
@keyframes color-anim {
  0%{
    transform: scale(1.8);
  }
  100%{
    transform: scale(1);
  }
}
/* footter styling */

.footer{
  background: var(--progress-bg);
  box-shadow: var(--shadow-default);
  color:var(--light);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(/src//static/img/bg_3.jpg);
}
.footer .row{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
  flex-wrap: wrap;
  margin-left: 2em;
}
.col{
  width: 25%;
  flex-grow: .5;
  text-align: center;
  width: max-content;
}
.col-1 ul{
  line-height: 2.7em;
}
.col-1 ul li{
  list-style: none;
  margin-left: -2em;
}
.col-1 ul li a:hover{
  background: var(--progress-js);
  border-radius: 5px;
}
.col-1 ul li a{
  padding: .7em;
  text-decoration: none;
  color: var(--light);
}
.input-field form{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  column-gap: .9em;
  
}
.input-field .input{
  height: 2em;
  max-width: 20em;
  border-radius: 5px;
  margin-bottom: 1em;
}
.input-field .input #email{
  height: 100%;
  min-width: 18em;
  border-radius: 5px;
  outline: none;
  border: none;
}
.input-field .button{
  margin-bottom: 1em;
  height: 2.45em;
  width: 5em;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid var(--progress-js);
  color: var(--light);
  background: var(--progress-js);
  cursor: pointer;
}
.input-field .button:hover{
  background: none;
  color: var(--progress-js);
  border: 1.5px solid var(--progress-js);
  font-size: 13.9px;
}
.social-media-footer{
  animation: slide_down 5s ease forwards;
}
.social-media-footer a .icon{
  color:var(--text-color);
  padding: .5em;
  margin: .2em;
  font-size: 20px;
  border-radius: 5px;
}
.social-media-footer a:nth-child(1) .icon{
  animation: slide_down 5s ease forwards;
  color: var(--text-color);
}
.social-media-footer a:nth-child(1) .icon:hover{
  color: #fff;
  background: blue;
}
.social-media-footer a:nth-child(2) .icon:hover{
  color: white;
  background: black;
}
.social-media-footer a:nth-child(3) .icon:hover{
  color: #fff;
  background: linear-gradient(45deg, #ff4e50, #e62e4d, #ff6f61);
}
.social-media-footer a:nth-child(4) .icon:hover{
  color: #fff;
  background: linear-gradient(45deg, #007cf0, #00b6f0, #00d4ff);
}
.social-media-footer a:nth-child(5) .icon:hover{
  color: white;
  background: black;
}
.social-media-footer a:nth-child(6) .icon:hover{
  color: white;
  background: rgb(233, 5, 5);
}
.footer2{
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 1em;
  opacity: .7;
  color: var(--light);
  background: var(--progress-bg);
  opacity: .8;
}
@media (max-width:800px) {
  .footer .row{
    padding: 2em;
    margin-left: 0em;
  }
  .input-field form{
    display: block;
    column-gap: 0em;
    align-items: center;
    justify-content: center;
  }
}
